h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 290601234-3
        p.mb-0 Desarrollar los productos cumpliendo con la normatividad vigente y requerimientos técnicos.


