.container#page-introduccion

    .header-ecored
        h1 3. Proceso de confección

    .jumbotron.bg-white  
      
      .row
        .col-12
          p En el proceso de confección se unen las piezas que han sido cortadas -a partir del patrón- a fin de darle la forma a la prenda, este proceso también se denomina ensamble.

          p En la confección se utiliza maquinaria, pero también es de gran importancia el trabajo manual, ya que permite el marcado de algunas piezas para su posterior ensamble. Todo el proceso se debe basar en el cumplimiento de la ficha técnica de cada producto y la aplicación de buenas prácticas de manufactura (BPM).
          

      .row.justify-content-center.align-items-center
        .col.col-lg-9.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema3/img_01.jpg", alt="").img-fluid

      .row.justify-content-center.align-items-center 
        .col-12
          p De acuerdo con lo anterior, el proceso de confección requiere el empleo de herramientas y máquinas específicas para cada operación, estas se deben conocer, seleccionar y manejar de manera apropiada para cada prenda; así mismo, darles una adecuada distribución y orden para optimizar el funcionamiento del taller y, por lo tanto, del proceso productivo.            

      .row.justify-content-center.align-items-center.my-5 
        .col-12
          .header-arrow
            h3.text-center La maquinaria utilizada para la confección de prendas de dotación hospitalaria es: 

      .row.justify-content-center.align-items-center 
        .col-auto.my-5.mb-my-0
          img(src="assets/images/pages/tema3/icon_01.svg", style="width: 90px").img-fluid.mb-3.mb-md-0
        .col.col-md-7
          p.mb-0 #[strong Máquina fileteadora:] </br>se utiliza para recubrir el borde de las telas con el fin de evitar que se desflequen. 

      .row.justify-content-center.align-items-center 
        .col-auto.my-5.mb-my-0
          img(src="assets/images/pages/tema3/icon_02.svg", style="width: 90px").img-fluid.mb-3.mb-md-0
        .col.col-md-7
          p.mb-0 #[strong Máquina plana:] </br>es la máquina mas básica utilizada en la confección industrial. Hace una puntada rígida y, por lo tanto, es muy indicada para confeccionar prendas en tejido plano.

    .jumbotron.bg-white      
      .row.justify-content-center.align-items-center        
        .col-auto
          img(src="assets/images/pages/tema3/icon_03.svg", style="width: 150px").img-fluid.mb-3.mb-md-0
        .col
          p.mb-0 A continuación, podrá conocer el paso a paso del proceso de confección de los productos de dotación hospitalaria, a través de la visualización de los siguientes videos explicativos. 

    .jumbotron.bg-white     
      .row.mb-5
        .col-12
          .header-ecored.mt-0       
            h2 Proceso de confección de cofia hospitalaria    
        .col-12
          p Al iniciar el video podrá identificar los materiales, herramientas y maquinaria a emplear en la elaboración de esta prenda, posteriormente, se indicará la instalación de folder para encauchar en máquina fileteadora, realizando una prueba de costura y finalmente, podrá observar el ensamble de las piezas para cofia.         
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ai9F0m4nsYE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Cofias 

    .jumbotron.bg-white     
      .row.mb-5
        .col-12
          .header-ecored.mt-0       
            h2 Proceso de confección de polainas bajas  
        .col-12
          p Al iniciar el video podrá identificar los materiales, herramientas y maquinaria a emplear, posteriormente, se indicará la instalación de folder para encauchar en máquina fileteadora, realizando una prueba de costura y finalmente, podrá observar el ensamble de las piezas para polainas bajas.     
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8f32004ttDo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Polainas bajas

    .jumbotron.bg-white     
      .row.mb-5
        .col-12
          .header-ecored.mt-0       
            h2 Proceso de confección de polainas altas hospitalarias    
        .col-12
          p Al iniciar el video podrá identificar los materiales e insumos a emplear, se hará el reconocimiento de los elementos de bioseguridad y, posteriormente, se indicarán las operaciones de preparación y ensamble de las piezas para polainas altas.     
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SuwOup82lZA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Polainas altas

    .jumbotron.bg-white     
      .row.mb-5
        .col-12
          .header-ecored.mt-0       
            h2 Proceso de confección del tapabocas hospitalario     
        .col-12
          p Al iniciar el video podrá identificar los materiales e insumos a emplear, se hará el reconocimiento de los elementos de bioseguridad y ubicación en el puesto de trabajo; posteriormente, se indicarán las operaciones de preparación y ensamble de las piezas para tapabocas.   
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/9o7dW5ix8p0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong Tapabocas

    